In [2]:
nome = "Luciana"
print(nome)
type(nome)
print(nome[-1])
print(nome[-3:])
print(nome[-3])

Luciana
a
ana
a

In [3]:
nome = 'Luciana '
sobrenome = 'Sampaio'
nome_completo = nome + sobrenome
print(nome_completo)

Luciana Sampaio

In [4]:
linguagem = 'python'
print(3 * linguagem)

pythonpythonpython

In [27]:
letra = 'A'
print(10 * letra)

AAAAAAAAAA

In [5]:
idade = 20
namorada = 'Maria'
'João tem %d anos e a sua namorada se chama %s' % (idade, namorada)

'João tem 20 anos e a sua namorada se chama Maria'

In [7]:
media = 73.12123123
print('%.3f' % media)

73.121

:

In [6]:
nome = 'Luciana'
nome2 = 'Sampaio'
print(id(nome))
print(id(nome2))

1822171664368
1822171663264