In [2]:
import numpy as np
import pandas as pd
import random

In [3]:
dataset = pd.read_csv('census.csv')

Criar lista vazia e adicionar um indice para cada registro da base de dados, de 0 até o tamanho do dataset.

In [7]:
stream = []
for i in range(len(dataset)):
    stream.append(i)

In [19]:
def amostragem_reservatorio(dataset,amostras):
    stream = []
    for i in range(len(dataset)):
        stream.append(i)
    
    i = 0
    tamanho = len(dataset)
    
    reservatorio = [0] * amostras
    for i in range(amostras):
        reservatorio[i] = stream[i]
    
    while i < tamanho:
        j = random.randrange(i+1)
        if j < amostras:
            reservatorio[j] = stream[i]
        i += 1
        
    return dataset.iloc[reservatorio]

O .iloc no dataset significa que irá retornar somente os registros dele que encontram-se nos indices da lista 'reservatorio'

In [20]:
df_amostragem_reservatorio = amostragem_reservatorio(dataset,100)
df_amostragem_reservatorio.shape

(100, 15)

In [21]:
df_amostragem_reservatorio.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
8184,59,Private,197148,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,24,United-States,>50K
21931,40,Private,109762,Some-college,10,Divorced,Craft-repair,Unmarried,White,Male,0,0,40,United-States,<=50K
9613,55,Private,282023,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,15024,0,50,United-States,>50K
26259,18,?,91670,Some-college,10,Never-married,?,Own-child,Asian-Pac-Islander,Female,0,0,40,United-States,<=50K
3657,33,Private,274222,Bachelors,13,Married-civ-spouse,Other-service,Husband,Asian-Pac-Islander,Male,7688,0,38,United-States,>50K